body {
  background: #0c0c0c;
  color: white;
  font-family: sans-serif;
}

.container {
  text-align: center;
}

.grid {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.tier-box {
  background: #1a1a1a;
  padding: 10px;
  border-radius: 10px;
  width: 200px;
}

.player {
  background: #222;
  margin: 5px 0;
  padding: 5px;
  border-radius: 5px;
}
